

./sorting/EXHIBITION/images_WHOLE_SCHOOL/low_resolution/vich.c@cuinda.com/PDF/2024-2025_Y4S2_ARCH_DSGN_V_CHON_SUPAWONG_VIT_VICH_CHINPRADITSUK_BOOKLET_UPDATED_compressed__1__-_Vich__Vit__Chinpraditsuk.pdf
./sorting/EXHIBITION/images_WHOLE_SCHOOL/low_resolution/teerathat.k@cuinda.com/PDF/Booklet_-_Teerathat_Koohatanasathean.pdf
./sorting/EXHIBITION/images_Y4_GRADUATION/low_resolution/vich.c@cuinda.com/PDF/2024-2025_Y4S2_ARCH_DSGN_V_CHON_SUPAWONG_VIT_VICH_CHINPRADITSUK_BOOKLET_UPDATED_compressed__1__-_Vich__Vit__Chinpraditsuk.pdf
./sorting/EXHIBITION/images_WHOLE_SCHOOL2/low_resolution/vich.c@cuinda.com/PDF/2024-2025_Y4S2_ARCH_DSGN_V_CHON_SUPAWONG_VIT_VICH_CHINPRADITSUK_BOOKLET_UPDATED_compressed__1__-_Vich__Vit__Chinpraditsuk.pdf
./sorting/EXHIBITION/images_WHOLE_SCHOOL2/low_resolution/teerathat.k@cuinda.com/PDF/Booklet_-_Teerathat_Koohatanasathean.pdf
./sorting/EXHIBITION/images_WHOLE_SCHOOL/low_resolution/vich.c@cuinda.com/PDF/2024-2025_Y4S2_ARCH_DSGN_V_CHON_SUPAWONG_VIT_VICH_CHINPRADITSUK_BOOKLET_UPDATED_compressed__1__-_Vich__Vit__Chinpraditsuk.pdf
./sorting/EXHIBITION/images_WHOLE_SCHOOL/low_resolution/teerathat.k@cuinda.com/PDF/Booklet_-_Teerathat_Koohatanasathean.pdf
./sorting/EXHIBITION/images_Y4_GRADUATION/low_resolution/vich.c@cuinda.com/PDF/2024-2025_Y4S2_ARCH_DSGN_V_CHON_SUPAWONG_VIT_VICH_CHINPRADITSUK_BOOKLET_UPDATED_compressed__1__-_Vich__Vit__Chinpraditsuk.pdf
./sorting/EXHIBITION/images_WHOLE_SCHOOL2/low_resolution/vich.c@cuinda.com/PDF/2024-2025_Y4S2_ARCH_DSGN_V_CHON_SUPAWONG_VIT_VICH_CHINPRADITSUK_BOOKLET_UPDATED_compressed__1__-_Vich__Vit__Chinpraditsuk.pdf
./sorting/EXHIBITION/images_WHOLE_SCHOOL2/low_resolution/teerathat.k@cuinda.com/PDF/Booklet_-_Teerathat_Koohatanasathean.pdf
