./low_resolution/entech_33/PDF/Daylight_Study_Vanesa_Tomic.pdf
./low_resolution/entech_8/PDF/Pam_Napat_25411331_EnTech_I_A3_Report.pdf
./low_resolution/entech_34/PDF/Varistha_Thitiapiragkul_EnTech_II_DAYLIGHT.pdf
./low_resolution/entech_18/PDF/Daylight_study_Pound_Naphol_Chanakul.pdf
./low_resolution/entech_14/PDF/Daylight_Study_bing_Patr_Leelarasamee.pdf
./low_resolution/entech_1/PDF/Daylight_Study_Janja_Nawinda_Chulchue.pdf
./low_resolution/entech_2/PDF/Solar_study_Jinnie_Nichapa_Eamcharoen.pdf
./low_resolution/entech_32/PDF/Daylight_Study_Tonnum_Nishapat_Sawangkokgruad.pdf
